<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>tbapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
 
  <servlet>
  	  <servlet-name>Login</servlet-name>
  	  <servlet-class>com.cqmike.util.Login</servlet-class>
  </servlet>  
  <servlet-mapping>
  	  <servlet-name>Login</servlet-name>
  	  <url-pattern>/login</url-pattern>
  </servlet-mapping>
    
    
  <servlet>
  	  <servlet-name>Search</servlet-name>
  	  <servlet-class>com.cqmike.util.Search</servlet-class>
  </servlet>  
  <servlet-mapping>
  	  <servlet-name>Search</servlet-name>
  	  <url-pattern>/search</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	  <servlet-name>DBTest</servlet-name>
  	  <servlet-class>com.cqmike.servlet.DBTest</servlet-class>
  </servlet>  
  <servlet-mapping>
  	  <servlet-name>DBTest</servlet-name>
  	  <url-pattern>/dBTest</url-pattern>
  </servlet-mapping>
    
    <servlet>
  	  <servlet-name>Acquire</servlet-name>
  	  <servlet-class>com.cqmike.servlet.Acquire</servlet-class>
  </servlet>  
  <servlet-mapping>
  	  <servlet-name>Acquire</servlet-name>
  	  <url-pattern>/acquire</url-pattern>
  </servlet-mapping>
 
   <servlet>
  	  <servlet-name>WechatCheck</servlet-name>
  	  <servlet-class>com.cqmike.wechat.WechatCheck</servlet-class>
  </servlet>  
  <servlet-mapping>
  	  <servlet-name>WechatCheck</servlet-name>
  	  <url-pattern>/wechatCheck</url-pattern>
  </servlet-mapping>
</web-app>



  
  